.wrapper {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-wrapper {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background: yellow;
}